.filter-input {
  &__input {
    border: none;
  }

  .filtering-block-button {
    margin-left: 10px;
    margin-right: 10px;
    color: #2F80ED;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: #5EA2FF;
    }
  }
}
