<div *ngIf="item" class="detailed-card">
  <a [routerLink]="['/youtube']" class="detailed-card__btn" [publicationDate]="item.date.toString()"  appButtonHighlight><</a>
  <div class="detailed-card__inner">
    <div class="detailed-card__video-thumbnail">
      <img  src={{item.image}} alt={{item.title}} />
    </div>
    <div class="detailed-card__content" [publicationDate]="item.date.toString()" appBorderHighlight>
      <div class="detailed-card__header">
        <h2 class="detailed-card__header__title">{{item.title}}</h2>
        <p class="detailed-card__header__date">{{item.date.toString()}}</p>
      </div>
      <div class="detailed-card__description">
        <p class="detailed-card__description__title">
          Description:
        </p>
        <p class="detailed-card__description__text">
          {{item.description}}
        </p>
      </div>
    </div>
  </div>
</div>

