<div class="login-form">
  <h3 class="login-form__title">Login</h3>
  <form [formGroup]="loginForm" class="login-form__form">
    <label class="login-form__label">
      login
      <input formControlName="login" type="text" class="login-form__input"/>
    </label>
    <label class="login-form__label">
      password
      <input formControlName="password" type="password" class="login-form__input"/>
    </label>
    <button (click)="login($event)" class="login-form__btn" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
