<header class="header">
  <div class="container header__inner">
    <div class="header__inner__left-block">
      <app-logo></app-logo>
      <app-search-input></app-search-input>
      <app-settings-button></app-settings-button>
    </div>
    <app-login-info></app-login-info>
    <button 
      class="header__login-logout-btn" 
      type="button" 
      (click)="logout()" 
      *ngIf="(authService.isLoggedIn$ | async)"
      >
        Logout
    </button>
    <button 
      class="header__login-logout-btn" 
      type="button" 
      (click)="login()" 
      *ngIf="(authService.isLoggedIn$ | async) === false"
    >
      Login
    </button>
  </div>
</header>
