.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur, and color */
  width: 100%;

  app-counters {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    &__btns {
      display: flex;

      .delete-btn {
        margin-left: 10px;
        background: #EB5757;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur, and color */

        &:hover {
          background-color: #D94343;
          box-shadow: none;
        }
      }

      .favourite-btn {
        margin-left: 10px;
        background: transparent;
        cursor: pointer;
        border: none;

        &.active {
          svg path {
            fill: #EB5757;
          }
        }
      }
    }
  }

  app-video-title {
    flex-grow: 1;
  }
}
