<div class="create-card-form">
  <h3 class="create-card-form__title">Create new card</h3>
  <form [formGroup]="createCardForm" class="create-card-form__form">
    <label class="create-card-form__label">
      Title
      <input 
        formControlName="title" 
        type="text" 
        class="create-card-form__input"
        [ngClass]="{ 'input-error': 
          (checkInputError('title', 'required') || 
          checkInputError('title', 'minlength') || 
          checkInputError('title', 'maxlength')) 
        }"
      />
    </label>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('title', 'required')">
      Please enter a title.
    </div>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('title', 'minlength')">
      The title is too short.
    </div>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('title', 'maxlength')">
      The title is too long.
    </div>
    <label class="create-card-form__label">
      Description
      <input 
        formControlName="description" 
        type="text" 
        class="create-card-form__input"
        [ngClass]="{ 'input-error': checkInputError('description', 'maxlength') }"
      />
    </label>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('description', 'maxlength')">
      The description is too long.
    </div>
    <label class="create-card-form__label">
      Img
      <input 
        formControlName="image" 
        type="text" 
        class="create-card-form__input"
        [ngClass]="{ 'input-error': checkInputError('image', 'required') }"
      />
    </label>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('image', 'required')">
      Please enter a link to the image.
    </div>
    <label class="create-card-form__label">
      Link video
      <input 
        formControlName="video" 
        type="text" 
        class="create-card-form__input"
        [ngClass]="{ 'input-error': checkInputError('video', 'required') }"
      />
    </label>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('video', 'required')">
      Please enter a link to the video.
    </div>
    <label class="create-card-form__label">
      Creation date
      <input 
        formControlName="date" 
        type="date" 
        class="create-card-form__input"
        [ngClass]="{ 'input-error': 
          (checkInputError('date', 'required') ||
          checkInputError('date', 'futureDate')) }"
      />
    </label>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('date', 'required')">
      Please enter a creation date.
    </div>
    <div 
      class="create-card-form__error-message" 
      *ngIf="checkInputError('date', 'futureDate')">
      The date is invalid.
    </div>
    <div formArrayName="tags">
      <span class="create-card-form__label">
        Tags
        <div *ngFor="let tagControl of getControls(); let i = index">
          <input 
            class="create-card-form__input" 
            [ngClass]="{ 'input-error': checkInputError('tags.' + i, 'required') }"
            [formControlName]="i" 
            type="text" 
            placeholder="Tag" />
          <div 
            class="create-card-form__error-message" 
            *ngIf="checkInputError('tags.' + i, 'required')">
            Please enter a tag.
          </div>
        </div>
      </span>
    </div>
    <button 
      class="create-card-form__btn create-card-form__btn_add-tag" 
      type="button" 
      (click)="addTag()">
      add tag
    </button>
    <div class="create-card-form__btns-group">
      <button 
        class="create-card-form__btn" 
        type="button" 
        (click)="resetForm()">
        Reset
      </button>
      <button 
      (click)="createCard($event)" 
      class="create-card-form__btn" 
      [disabled]="createCardForm.invalid">
      Create card
    </button>
    </div>
  </form>
</div>
